* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}

/* header */
.header {
    width: 100%;
    height: 1080px;
    background-image: url(../image/home_page.jpg);
    background-repeat: no-repeat;

}

.navbar {
    display: flex;
    padding-top: 44px;
    position: relative;
}

.navbar-brand {
    padding-left: 80px;
}

.navbar-menu {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #FFFFFF;

}

.navbar-menu-item {
    margin-left: 60px;
}

.header-title {
    width: 834px;
    height: 144px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    margin-top: 165px;
    margin-bottom: 40px;

    color: #FFFFFF;
}

.header-introduct {
    width: 574px;
    height: 72px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 508px;

    color: #FFFFFF;
}

/* Why choosing us */
.WCU {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-left: 80px;
    margin-bottom: 200px;
}

.WCU-name {
    width: 317px;
    height: 72px;
    margin-bottom: 16px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 200%;

    color: #564E4E;
}

.WCU-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
}

.WCU-item {
    background-color: white;
    width: calc(25% - 20);
    margin-left: 20px;
}

.WCU-item:hover {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FADCD9;
    box-shadow: 4px 2px 10px 2px rgba(247, 148, 137, 0.2);
    border-radius: 10px;
}

.WCU-icon {
    margin-top: 16px;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 100rem;
    flex-shrink: 0;
}

.WCU-content {
    margin-left: 20px;
    margin-right: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.WCU-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 200%;
    word-break: break-all;

    color: #564E4E;
}

.WCU-detail {
    width: 350px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;

    color: #564E4E;
}

.WCU-more {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    margin-bottom: 20px;
    margin-top: auto;
}

.WCU-more a {
    text-decoration: none;
    color: #F79489;
}

.WCU-item {
    display: flex;
    flex-direction: column;
}

/* Visualize your ideas with us */
.VYI {
    margin-left: -20px;
    margin-right: 80px;
    margin-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.VYI-item {
    width: calc(33, 333% - 20px);
    margin-left: 20px;
    flex-direction: column;
}

.VYI-img {
    width: 100%;
    height: 600px;

}

.VYI-line {
    width: 0px;
    height: 400px;
    border: 1px solid #FADCD9;
}

.VYI-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 200%;

    color: #564E4E;

}

.VYI-introduct {
    width: 806px;
    margin-right: 51px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;

    color: #564E4E;
}

.VYI-category-title {
    display: flex;
    justify-content: space-between;
    margin-right: 64px;
}

.VYI-category-title-word {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;

    color: #564E4E;
}

.VYI-category-title-icon {
    width: 16px;
    height: 16px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;

    color: #F79489;
}

.VYI-more {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
}

.VYI-more a {
    text-decoration: none;
    color: #F79489;
}

.VYI-category-content {
    width: 773px;
    margin-right: 84px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 200%;

    color: #564E4E;
}

.VYI-category-title-icon a {
    text-decoration: none;
    color: #F79489;
}

.VYI-img {
    width: 870px;
    height: 600px;
    border-radius: 10% 10% 0 10%;
}

/* Feature products */
.featured-product {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 167px;
}

.featured-product-title {
    text-align: center;
    margin-bottom: 40px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 200%;

    color: #564E4E;
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
}

.product {
    background-color: white;
    width: calc(25% - 20px);
    margin-left: 20px;
}

.product-content {
    margin-left: 20px;
}

.product a {
    text-decoration: none;
}

.product-img {
    width: 100%;
    height: 70%;
    margin-bottom: 20px;
}

.product-title {
    margin-bottom: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;

    color: #564E4E;
}

.product-category {
    margin-bottom: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;

    color: #C4C4C4;
}

.product-rate {
    display: flex;
    width: 16px;
    height: 15px;
    margin-bottom: 20px;
    color: #DFB300;
}

.product-IDR {
    margin-bottom: 33px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;

    color: #564E4E;
}

/* Our service */
.our-service {
    margin-bottom: 200px;
    background: linear-gradient(279.85deg, #FFFFFF 0%, #FAF5F2 100%);
}

.our-service-title {
    text-align: center;
    margin-top: 84px;
    margin-bottom: 110px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 200%;

    color: #564E4E;
}

.user-feedbacks {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 80px;
}

.user-feedback {
    width: 520px;
    height: 286px;
    width: calc(33% - 70);
    margin-left: 70px;
    margin-bottom: 248px;
}

.user-feedback-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 200%;

    color: #564E4E;
}

.user-feedback-content {
    margin-bottom: 22px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;

    color: #564E4E;
}

.user-info {
    display: flex;
}

.user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 100rem;
    flex-shrink: 0;
}

.user-bottom {
    margin-left: 10px;
}

.user-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 200%;

    color: #564E4E;
}

.user-career {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 200%;

    color: #564E4E;
}

/* Make your room feel homey  */
.MYR {
    display: flex;
    flex-wrap: wrap;
    margin-right: 80px;
    margin-left: -80px;
    margin-bottom: 200px;
}

.MYR-img {
    width: 100%;
    height: 600px;
    border-radius: 10% 10% 10% 0;
}

.MYR-item {
    background-color: white;
    width: calc(50% - 80);
    margin-left: 80px;
    flex-direction: column;
}

.MYR-title {
    width: 810px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 200%;

    color: #564E4E;
}
.MYR-content{
    width: 810px;
}
.MYR-desc {
    margin-bottom: 50px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;

    color: #564E4E;
}

.MYR-contact {
    margin-bottom: 40px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;

    color: #564E4E;
}

.MYR-email-box {
    display: flex;
}

.MYR-email-input {
    width: 400px;
    height: 60px;
    margin-left: 20px;
    border: none;
    padding-right: 80px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;

    color: #F79489;

    box-sizing: border-box;
    background: #FEFCFB;
    border: 1px solid #FADCD9;
    border-radius: 30px;
    margin-right: 407px;
}

.MYR-email-icon {
    border: none;
    background-color: red;
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

.MYR-email-img {
    width: 44px;
    height: 44px;
}

/* footer */
.footer {
    background: linear-gradient(275.58deg, #000000 0%, #4B4B4B 100%);
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    margin-left: -160px;
}

.footer-info-item {
    margin-top: 100px;
    margin-bottom: 197px;
    width: calc(20% - 240);
    margin-left: 240px;
}

.footer-info-item ul li {
    margin-bottom: 24px;
    list-style-type: none;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #FFFFFF;
}

.footer-type-of {
    margin-bottom: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    color: #FADCD9;
}

.footer-copyright {
    text-align: center;
    padding-bottom: 40px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #FFFFFF;
}

/* mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .header {
        height: 406px;
        background-size: 780px 406px;
    }

    .navbar {
        padding: 20px;
        margin-left: -20px;
    }

    .navbar-menu {
        display: none;
    }

    .header-title {
        width: 229px;
        height: 54px;

        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-align: center;

        margin-top: 165px;
        margin-bottom: 40px;
    }

    .header-introduct {
        width: 292px;
        height: 72px;
        font-weight: 400;
        font-size: 12px;
        line-height: 200%;

        padding-bottom: 175px;
    }

    .WCU-item {
        justify-content: center;
    }

    .VYI {
        padding-left: 20px;
    }

    .VYI-line {
        display: none;
    }

    .product {
        width: calc(50% - 20px);
        margin-left: 20px;
    }
    .product-img {
        width: 100%;
        height: 70%;
        margin-bottom: 20px;
    }
    .user-feedbacks{
        justify-content: center;
    }
    .user-feedback {
        width: 335px;
        height: 286px;
        width: calc(33% - 70);
        margin-left: 70px;
        margin-bottom: 248px;
    }
    .MYR-content{
        width: 335px;
    }
    .MYR-title {
        width: 335px;
    }
    .footer-info-item {
    margin-top: 100px;
    margin-bottom: 197px;
    width: calc(20% - 240);
    margin-left: 240px;
}
}